.App {
  text-align: center;
}

.background {
  margin-top: 15px;
  width: 50vw; /* Adjust the width as needed */
  height: 95vh; /* Adjust the height as needed */
  background-image: url('collage.jpg'); /* Path to your image */
  background-size: cover; /* Adjust the background size */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center center; /* Center the background image */
}

.main {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  width: 50vw;
}

.row {
  display: flex;
}

#center-it {
  justify-content: center;
}

#image {
  height: 15vh;
  margin-right: 15px;
}

#image-two {
  height: 25vh;
  margin-right: 20px;
}

#heart  {
  margin-right: 30px;
  width: 3vw;
}